img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Centrerer billedet */
}

/* Medieforespørgsel for skærme, der er 768px eller bredere */
@media screen and (min-width: 768px) {
  img {
    max-width: 50%;
  }
}
